.wt1000{ width:800px; margin:0 auto}
.xuebi{background: url(images/001.gif)no-repeat;
	display: inline-block;
	width: 22px;	
	height: 22px;
	margin-right: 20px;

		}
.xuebi1{background-position:-11px 0;
	margin-left:385px;
		
	}
.xuebi2{background-position:-55px 0;
		
	}
.xuebi3{background-position:-98px 0;
		
	}
.xuebi4{background-position:-141px 0;
		
	}
.bgse1{background-color: #e9f0f8;
	border-radius:2px;
	padding: 10px;
	position: absolute;
	bottom: 0px;
	right: 0px;
}
/*内容主体*/
.zhutik{
	background-color: #e9f0f8;
	padding-top: 10px;
}
.zhuti2{width: 970px;
    margin: 0 auto;

	padding-top: 3px;
	background-color: #fff;
	   padding-right: 20px;
}
.zuoye{margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.wenzi1{font-size: 16px;
	}
.zhuti2{/*padding-left: 10px;*/
	
	margin-bottom: 13px;

	}
.neirong1{width: 957px;
	background-color: #6d9dce;
	border-radius:5px ;
	padding-bottom: 8px;
	padding-top: 8px;
	margin-right: 20px;
	margin-left: 15px;
	}
.yuwen1{background-color: #fff;
	margin-left: 10px;
	padding-bottom: 10px;
	padding-top: 9px;
	padding-left: 5px;
	padding-right: 5px;
}
.youcelogo{
	margin-right: 15px;
}
.tb{color: #999999;
	margin-left: 13px;
}
.tb1{border: solid 1px #e2e2e2;
	padding: 15px 45px 10px;
}
.tb2{border: solid 1px #e2e2e2;
	padding-top: 15px;
	padding-left: 58px;
	padding-right: 75px;
	padding-bottom: 10px;
}
.tb3{
	border: solid 1px #e2e2e2;
	padding-top: 15px;
	padding-left: 65px;
	padding-right: 489px;
	padding-bottom: 10px;
}
.wz1{color: #999;
	margin-left: 13px;
	padding-top: 5px;

}
.wz2{
	color: #999;
	margin-left: 13px;
	padding-top: 5px;
}
.wz2 a{
	color: #ff9900;
}
.daank{margin-left: 40px;
	padding-top: 5px;
	background-color: #eef8ec;
	margin-right: 20px;
}
.daank2{margin-left: 40px;
	padding-top: 5px;
	background-color: #fff7e5;
	margin-right: 20px;
}
.daank span{margin-left: 40px;
	color: #01b523;
}
.daank2 span{margin-left: 40px;
	color: #01b523;
}
.y1{
	margin-right: 10px;
}
.logo9{
	position: absolute;
	left: 5px;
	top: 6px;
}
.a1{padding-right: 10px;
	padding-top: 10px;
	display: inline-block;
	padding-left: 40px;
}
.logo1{background: url(images/icos.gif)no-repeat;
	display: inline-block;
	width: 19px;
	height: 14px;
	background-position: 
	1px 1px;

}


.neir2{
	padding-bottom: 10px;
	border: 1px solid #e2e2e2;
	margin-left: 10px;
	margin-bottom: 10px;
}
.neir3{
	padding-bottom: 10px;
	border: 2px solid #ffc2c2;
	margin-left: 10px;
	margin-bottom: 10px;
}
.xuebitu{
	background: url(images/icos.gif)no-repeat;
	display: inline-block;
	width: 39px;
	height: 39px;
}
.xuebitu-1{
	background-position: 0px -45px;
}
.xuebitu-2{
	background-position: -90px 0px;
}
.shuzi{
	color: #fff;
	font-size: 16px;
	position: absolute;
	left: 6px;
	top: 1px;
}
.nrwz{position: absolute;
	left: 45px;
	top:8px;
}
.shuruk{background:none;
	border:none;
	border-bottom: 2px solid ;
}

.nrwz2{
	
}
.danxuan1{
	
	margin-right: 50px;
	margin-left: 40px;
}
.danxuan{

	margin-right:50px;
}
.a9{
	
	margin-left: 5px;

}
.nr2-1{
	margin-left: 44px;
	margin-bottom: 15px;
}
.nr2-2{
	margin-bottom: 10px;
}
.dibu{margin-bottom: 20px;
	height: 110px;

}
.tijiao{background: url(images/button_03.png)no-repeat;
width:88px;
height: 28px;
border:none;
margin-left: 400px;
margin-top: 10px；
}
.weibu{background-color: #fafafa;
	display: inline-block;
	width: 990px;
	margin: 0 auto;
	margin-top: 50px;
	text-align:center;
	padding-top: 20px;
	padding-bottom: 15px;
	/*margin-left: 350px;*/
}