/*
    作者：肖桃
    创建日期：2020-6-16 10:22:22
    修改日期：2020-6-17 15:15:15
    项目地址：http://www.baidu.com
    版本号：ver 2.0
*/
/*清空浏览器的默认样式*/
div,p,ul,ol,li,dd,h1,h2,h3,h4,h5,h6,dt,dl,form,input,textarea,blockquote,th,td{padding:0;margin:0}
label{cursor:pointer}
h1,h2,h3,h4,h5,h6{font-size:16px;font-weight:400}
ul,ol{list-style:none}
em,i{font-style:normal}
/* 设置网页主体的背景颜色、外间距、内间距、行高、字体大小、字体家族 */
body{background:#fff;margin:0;padding:0;line-height:1;font-size:14px;font-family:'宋体',"Microsoft YaHei","微软雅黑",Tahoma,Arial}
/*页面布局*/
.wt802{width:802px;margin:0 auto}
.w220  {width:220px}
.layout{width:100%}
/*背景样式*/
.bgcolor{background-color:#e9f0f8}
.bgwhite{background-color:#fff}
.bgred  {background-color: red}
.bggray {background-color: #f2f2f2}
/*颜色*/
.red   ,a.red   {color:#f00}
.orange,a.orange{color:#ff6400}
.green ,a.green {color:#01b523}
.blue  ,a.blue  {color:#157ff6}
.brown ,a.brown {color:#999}
.brown2 ,a.brown2 {color:#a25100}
.gray  ,a.gray  {color:#ccc}
.gray2  ,a.gray2  {color:#666}
.gray3  ,a.gray3  {color:#999}
.white ,a.white {color:#fff}
/* 设置超链接的样式 */
a      {color:#5893ce;text-decoration:none;}
a:hover{color:#ff6400;text-decoration:none;}
/*字体大小*/
.font12{font-size:12px}
.font14{font-size:14px}
.font16{font-size:16px}
.font18{font-size:18px}
.font20{font-size:22px}
.font22{font-size:22px}
.font24{font-size:24px}
.font26{font-size:26px}
/*文本处理与对齐方式*/
.tc{text-align:center}
.tl{text-align:left}
.txj{text-align: justify;color:gray}
.tr{text-align:right}
.fb{font-weight:bold}
/*告诉部分浏览器不要给图片添加边框*/
img{border:none}
table,th,td{border-collapse: collapse;border-spacing:0}
/*将超出宽度的文字截字并用省略号表示*/
.cutFont{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
/*浮动公共样式*/
.fl{float:left}
.fr{float:right}
.cl{clear:both}
/*清除浮动公共样式*/
.clearfix:after{content:"\20";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*zoom:1}
/*显示方式与定位*/
.posir{position:relative}
.block{display:block}
.none {display:none}
/*外间距和内间距公共样式*/
.mt5 {margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt25{margin-top:25px}
.mt30{margin-top:30px}
.mb5 {margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb25{margin-bottom:25px}
.mb30{margin-bottom:30px}
.ml5 {margin-left:5px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.ml25{margin-left:25px}
.ml30{margin-left:30px}
.mr5 {margin-right:5px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
.mr25{margin-right:25px}
.mr30{margin-right:30px}
.pt5 {padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pt25{padding-top:25px}
.pt30{padding-top:30px}
.pb5 {padding-bottom:5px}
.pb10{padding-bottom:10px}
.pb15{padding-bottom:15px}
.pb20{padding-bottom:20px}
.pb25{padding-bottom:25px}
.pb30{padding-bottom:30px}
.pl5 {padding-left:5px}
.pl10{padding-left:10px}
.pl15{padding-left:15px}
.pl20{padding-left:20px}
.pl25{padding-left:25px}
.pl30{padding-left:30px}
.pr5 {padding-right:5px}
.pr10{padding-right:10px}
.pr15{padding-right:15px}
.pr20{padding-right:20px}
.pr25{padding-right:25px}
.pr30{padding-right:30px}




