*{padding: 0; 
	  margin: 0}
.clearfix:after{content:'\20';
                 display:block;
                 height:0;
                 clear:both}                  
.clearfix{zoom:1}
/*toubu*/
.box{width:1000px;
	    margin: 0 auto;
      }
.ag{background: url(../images/icos.gif)
    no-repeat;
    width: 18px;
    height: 13px;
    display: inline-block;
    margin-left: 650px;
    }
.ag-1{background-position:0px 0px;}
.af{background:url(../images/top-nav.gif)
     no-repeat;
	   width: 21px;
     height:21px;
     display: inline-block;
	   }
.af-1{background-position:-12px 0px;
     }
.af-2{background-position:-54px 0px;
     }
.af-3{background-position:-97px 0px;
     }
.af-4{background-position:-140px 0px;
     }
.logo{float: left;
      }
.xuebitubox{margin-left:370px;
	           float: left;
            }
.xuebitu{float: left;
         margin-top:50px;
         margin-left:20px;}
.daohang{float:right;
         margin-top:40px;
         background-color:#e9f0f8;
         padding:10px 10px 5px 10px;
         color:#5893ce;
         }
.daohang a{color:#5893ce;
	       text-decoration: none;
           }
.box1{background-color:#e9f0f8;
      padding-top: 10px;
      }
.box2{background-color:#ffffff;
      }
.ziti{display: inline-block;
      font-size:20px;
      margin-right: 20px;
      margin-left:20px;
      margin-bottom: 10px;
      margin-top:20px;}
.ziti1{color:#999999; 
     font-size: 12px;}
.box4{border: 1px solid #d0d0d0;
       background-color:#efefef;
       width:980px;
       height:254px;
       margin-left: 10px;
      }
.box5{width:920px;
       background-color:#6c9dce;
       margin:0 auto;
       height: 33px;
      margin-top: 10px;
      }
.yuwen{display: inline-block;
       margin-left:10px;
       width: 37px;
        height:31px;
        border:1px solid #e4e4e4;
        background-color: #ffffff;
        color:#666666;
        line-height: 31px;
        text-align: center;
        }
.shici{display: inline-block;
       margin-left: 10px;
       color: #ffffff;
       }
.ti24{font-size:12px;
      color: #ffffff;
      }
.keshi{
       color: #ffffff;
      }
.box6{width: 920px;
      margin:0 auto;
      }
.box7{width:966px;
      height:242px;
      margin:0 auto;
      background-color: #ffffff;
      margin-top: 5px;
      border: 1px solid #ffffff;
    }
.a1{margin-left:10px;
   }
.a2{display: inline-block;
    width: 90px;
    height:27px;
    background: url(../images/03.png);
    margin-right: 10px;
    border: none;
    margin-top: 25px;
   }
.kemu1{display: inline-block;
      margin-left:20px;
      margin-top:20px;
      margin-bottom:10px;
     }
.kemu{display:inline-block;
      width: 50px;
      text-align: center;
      border-right: 1px solid #999999;
      color: #999999;
      }
.box8{border: 1px solid #d0d0d0;
       background-color:#efefef;
       width:980px;
       height:672px;
       margin-left: 10px;
       margin-bottom:50px;}
.box9{width:966px;
      height:660px;
      margin:0 auto;
      background-color: #ffffff;
      margin-top: 5px;
      border: 1px solid #ffffff;
      }
.box10{width:920px;
       border-top: 1px dashed;
       margin:0 auto;
       margin-top:20px;
       }
.c2{display: inline-block;
         width: 20px;
         height: 20px;
         border: 1px solid #eeeeee;
         text-align: center;
         line-height: 20px;
         margin-top: 20px;
         color:#6c9dce;
        }
.c1{display: inline-block;
         width: 20px;
         height: 20px;
         border: 1px solid #eeeeee;
         text-align: center;
         line-height: 20px;
         margin-top: 20px;
    background-color:#6c9dce;
    color: #ffffff;
    }
.shuzikuang{margin-left:760px;}
.d1{height: 5px;
    background-color:#f4f4f4;
   }
.d2{height: 36px;
    background-color: #fbfbfb;
    text-align: center;
    line-height: 36px;} 
.chakan{color:#ff9900 ;
       display: inline-block;
       margin-top:25px;
       margin-right: 10px;
      }
.v1{width:920px;
       background-color:#dfdfdf;
       margin:0 auto;
       height: 33px;
      margin-top: 10px;
    }
.ti241{font-size:12px;
      color:#666666;
      }
.shici1{display: inline-block;
       margin-left: 10px;
       color:#666666;
      }



