.z{
	background-color:#E9F0F8 ;
}
/* 顶部 */
.logo{
	width: 100%;
	background-color:white;
}
/* 顶部雪碧图 */
.gaodu{
	height: 70px;
}
.neirong1{
	width: 425px;
	height: 74px;
}
.yq{
	background:url(../images/top-nav.gif) no-repeat;
	display:inline-block;
	width: 22px;
	height: 23px;
	padding-left: 20px;
}
.yi{
	background-position: -10px 0px;
}
.er{
	background-position: -55px 0px;
}
.shu{
	background-position: -98px 0px;
}
.ben{
	background-position: -141px 0px;
}
.you{
	width: 240px;
	height: 30px;
	line-height: 30px;
	color:#157FF6
	background-color:#E9F0F8;
	display: inline-block;
	margin-top: 40px;
	text-align: center;
}
.you,a:link{
	color: #5893CE;}
	
.you,a:visited{
	color: #5893CE;}
	
.neirong{
	width: 182px;
	 margin-top:45px;
}
/* 中间内容部分 */
.znr{
	background-color: #FFFFFF;
}
.zy{
	font-size: 18px;
	padding: 22px;
}
.yuwen{
	width: 740px;
	height: 32px;
	border: #EFEFEF 1px solid;
	margin-top: 14px;
	margin-left: 14px;
	background-color: #6C9DCE;
}
.wen{
	width: 38px;
	height: 32px;
	display: inline-block;
	margin-left: 10px;
	background-color:white;
	line-height: 32px;
	text-align: center;
	font-size: 12px;
}
.ci{
	font-size: 14px;
	color: white;
}
.keshi{
	background:url(../images/icos.gif) no-repeat;
	display:inline-block;
	width: 18px;
	height: 14px;
}
.fuxi{
	background-position:0px 0px;
	position: relative;
	left: 395px;top: 2px;	
}
.es{
	font-size: 12px;
	color: white;
}
.zl{
	color: white;
	font-size: 14px;
	position: relative;
	left: 400px;
}
.biaoge{
	border: #D1D1D1;
	margin-top: 5px;
	margin-bottom: 15px;
	text-align: center;
	color: #999999;
	margin-left: 14px;
	font-size: 12px;
	}
.zz a{
	color: #FF9D0B;
	font-size: 12px;
}
.zz{
	color: #999999;
	text-indent: 1em;
	font-size: 12px;
	}
.zw{
	color: #999999;
	text-indent: 1em;
	font-size: 12px;
}
.xz{
	margin-bottom: 20px;
}
/* 中间第一个框 */
.yibu{
	width: 740px;
	border: #D1D1D1 1px solid;
	margin-left: 10px;
	margin-bottom: 10px;
}
.jiao{
	background:url(../images/icos.gif) no-repeat;
	display:inline-block;
	width: 40px;
	height: 36px;
	color: white;
}	
	
.du{
	background-position:-0px -42px;
}
.yiya{
	position: relative;
	left: 5px; top: 2px;
}
.fxx{
	color: #000000;
	font-family: "宋体";
	font-size: 12px;
}
.xhx{
	border-bottom: 1px #000000 solid;
	display:block;
	position: relative;
	left: 95px; bottom: 8px;
	width: 200px;
}
.xzt{
	font-size: 12px;
	font-family: "宋体";
	color: #666666;
}
.ls{
	width: 710px;
	height: 28px;
	border: 1px solid #EEF8EC;
	background-color: #EEF8EC;
	margin-top: 10px;
	margin-bottom: 10px;
}
.tp{
	line-height: 28px;
}
.cd{
	margin-left: 20px;
}
.hd{
	color: #00cc33;
	line-height: 28px;
}
.jx{
	margin-right: 20px;
}
.lss{
	width: 710px;
	
	border: 1px solid #EEF8EC;
	background-color: #EEF8EC;
	margin-top: 10px;
	margin-bottom: 10px;
}
.yibu2{
	width: 740px;
	border: #FFC2C2 3px solid;
	margin-left: 10px;
	margin-bottom: 10px;
}
.jiao2{
	background:url(../images/icos.gif) no-repeat;
	display:inline-block;
	width: 40px;
	height: 36px;
	color: white;
}	
	
.du2{
	background-position:-89px -0px;
}
.cw{
	width: 712px;
	background-color: #FFF7E5;
	margin-top: 15px;
	margin-bottom: 15px;
}
.zq{
	color: #FF2C2C;
}
.zq1{
	margin-right: 20px;
}
.zq2{
	font-size: 12px;
	color: #666666;
	margin-top: 5px;
	margin-left: 38px;
	width: 661px;
}
.tt{
	margin-left: 320px;
	margin-top: 28px;
}
.dibu{
	background-color: #FBFBFB;
	text-align: center;
	font-size: 14px;
	color: #cccccc;
	margin-top: 38px;
	border-top:3px solid #F4F4F4;	
}
.ns{
	font-size: 12px;
	font-family: "宋体";
}