@charset "utf-8";
/******
*description:蓝色皮肤样式
*copyright:北京好之源网络科技有限公司
*create time:2014-04-22 
*update time:2014-05-09
*******/
a:hover,.imgTxt p a:hover,#friendln a:hover{color:#0079c8}
.skin_blue{ background-position:-18px -22px;}
.skin_orange{ background-position:0 -49px;}

.arealist{ border-color:#A6DAF0; }

.searchBox{ background:url(../img/blue_skin/search_bg.png) no-repeat}

.nav{ background:url(../img/blue_skin/nav_bg.png) no-repeat left bottom}
.navInner .fm{ background:url(../img/blue_skin/nav_line.png) no-repeat right center}
.navInner .current a,.navInner li a:hover{ background:url(../img/blue_skin/nav_hover.png) no-repeat;color:#fff}
.navInner .sfHover .sf-with-ul{ color:#1a5da4; border-top:1px solid #8abbe4; border-left:1px solid #8abbe4; border-right:1px solid #8abbe4 }
.subNav { border-left:1px solid #8abbe4; border-right:1px solid #8abbe4;border-bottom:1px solid #8abbe4;}
.subNav li a{ color:#1a5da4;}
.navInner .subNav li a:hover{ background:#1e8ac8; color:#fff}

.box{ border-color:#eaf6ff}
.inner{border-color:#bdd7f2}

.notice{ border-color:#cbe7f9; background-color:#f9fdff}

.inner .tt{ background:url(../img/blue_skin/inner_tt.png) repeat-x;}
.ico_arr { background:url(../img/blue_skin/tt_ico.png) no-repeat left center}
.skinColor{ color:#316eaf}

#loginBox .bd{ background-color:#f9feff}
.field .login-text{ border-color:#bdd7f2}
#loginBox .userInfo,#loginBox .userMnt { border-bottom-color:#6fc1fc}

#areaRank .modTab .tabOn a{ background:url(../img/blue_skin/tab_sm.png) no-repeat;}
#areaRank .modTab a{ color:#306eb0}
.linum li span{ color:#316eaf}

.tabLine{border-right-color:#bdd7f2;}
#userRank .tabOn,#appSlide .tabOn,#subjectSlide .tabOn{border-top-color:#53a1d1; }
#userRank .tabOn a,#stat .bd b,#appSlide .tabOn a,#subjectSlide .tabOn a,#friendln h5{color:#316eaf}

#classSlide .modTab .tabOn a{ background:url(../img/blue_skin/tab_big.png) no-repeat;}
/*应用中心*/
.appLeft{ background:url(../img/blue_skin/app_menu_bg.png) left top no-repeat}
.allApp.tabOn a,.allApp a:hover{ background:#cae4f3 url(../img/blue_skin/all_app_hover.png) left center no-repeat}
.recApp.tabOn a,.recApp a:hover{ background:#cae4f3 url(../img/blue_skin/rec_app_hover.png) left center no-repeat}
.freeApp.tabOn a,.freeApp a:hover{ background:#cae4f3 url(../img/blue_skin/free_app_hover.png) left center no-repeat}
.feeApp.tabOn a,.feeApp a:hover{ background:#cae4f3 url(../img/blue_skin/fee_app_hover.png) left center no-repeat}

