body{
	background-color: #E9F0F8;
}
*{
	margin: 0;
    padding: 0;
}
.top{
	width: 100%;
	height: 70px;
	background: linear-gradient(#FFFFFF,#F4F8FB);
}/*设置渐变*/
.logo{
	width:150px;
	height: 60px;
	float: left;
	margin-left:159px;
	margin-top: 10px; 
}
.icn{
	width: 189px;
	height: 21px;
	float: left;
	margin-left: 400px;
	margin-top: 45px;
}
.icn a{
	display: inline-block;
	width: 21px;
	height: 21px;
	text-decoration: none;
	margin-right: 20px;
}
.icon {
	background-image: url(../images/top-nav.gif);
	background-repeat:no-repeat;
	width: 21px;
	height: 21px;
}
.icon1{
	display: inline-block;
	width:21px;
	height:21px;
	background-position: -11.6px 0px;
	line-height: 21px;
}
.icon2{
	display: inline-block;
	width:21px;
	height:21px;
	background-position: -55px 0px;
	line-height: 21px;
}
.icon3{
	display: inline-block;
	width:21px;
	height:21px;
	background-position: -98px 0px;
	line-height: 21px;
}
.icon4{
	display: inline-block;
	width:21px;
	height:21px;
	background-position: -141px 0px;
	line-height: 21px;
}
.right{
	width: 290px;
	height: 30px;
	float: right;
	margin-right: 125px;
	margin-top:40px;
	background-color: #E9F0F8;
	border-radius:5px 5px 0px 0px;/*设置圆角框*/
	padding: 0px 10px;
}
.right .int{
	display: inline-block;
	border-right: 2px solid  #9CC4EB;
	color: #9CC4EB;
	line-height: 15px;
	padding-right: 10px;
	margin-right: 5px;
	margin-left: 5px;
}
.right .out{
	display: inline-block;
	color: #9CC4EB;
	line-height: 30px;
	margin-left: 5px;
}
.right a{
	text-decoration: none;
}
.main{
	width: 1100px;
	height: 1760px;
	/*overflow: auto;*//*高度自适应*/
	margin: 5px auto 0;
	background-color: #FFFFFF;
	border-radius: 3px;
	position: relative;
}
.baogao{
	font-size: 19px;
	position: absolute;
	left: 20px;
	top: 20px;
}
.lan{
	width: 1060px;
	height: 32px;
	border-radius: 5px;
	background-color: #6C9DCE;
	position: absolute;
	left: 20px;
	top: 70px;
}
.yw{
	display: inline-block;
	width: 37px;
	height: 30px;
	border-top: 1px solid  #EFEFEF;
	border-bottom: 1px solid  #EFEFEF;
	background-color: #FFFFFF; 
	position: absolute;
	left: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	line-height: 32px;
	color: #666666;
}
.sc{
	display: inline-block;
	color: #FFFFFF;
	margin-left: 60px;
	line-height: 32px;
	font-size: 15px;
}
.h{
	display: inline-block;
	color: #FFFFFF;
	margin-left: 3px;
	line-height: 32px;
	font-size: 12px;
}
.wenzi .p1{
	font-size: 14px;
	color: #999999;
	position: absolute;
	top: 120px;
	left: 25px;
}
.wenzi .p2{
	font-size: 14px;
	color: #999999;
	position: absolute;
	top: 120px;
	left: 220px;
}
.wenzi .p3{
	font-size: 14px;
	color: #999999;
	position: absolute;
	top: 140px;
	left: 25px;
}
.wenzi .p4{
	font-size: 14px;
	color: #999999;
	position: absolute;
	top: 160px;
	left: 95px;
}
.one{
	width: 1058px;
	height: 90px;
	border:1px solid #B8B8B8;
	position: absolute;
	left: 20px;
	top: 200px;
	border-radius: 5px;
}
.sanjiao{
	background-image: url(../images/icos.gif);
	background-repeat: no-repeat;
}
.one1{
	display: inline-block;
	width: 39.25px;
	height: 37px;
	background-position: 0 -43px;
	border-top: 1px solid #6C9DCE;
	border-left: 1px solid #6C9DCE;
}
.shuzi{
	position: absolute;
	left: 5px;
	top: 5px;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
}
.shi{
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	left: 50px;
	top: 10px;
}
.shi span{
	display: inline-block;
	width: 100px;
	height: 18px;
	border-bottom:1px solid black;
}
.danxuan{
	position: absolute;
	left: 50px;
	top: 50px;
	font-size: 13px;
	color: #666666;
}
input{
	display: inline-block;
	margin: 0 10px 0 80px;
}
.danxuan1{
	margin: 0 10px 0 0;
}
.one2{
	width: 1058px;
	height: 90px;
	border:1px solid #B8B8B8;
	position: absolute;
	left: 20px;
	top: 310px;
	border-radius: 5px;
}
.one3{
	width: 1058px;
	height: 90px;
	border:1px solid #B8B8B8;
	position: absolute;
	left: 20px;
	top: 420px;
	border-radius: 5px;
}
.one4{
	width: 1058px;
	height: 275px;
	border:1px solid #B8B8B8;
	position: absolute;
	left: 20px;
	top: 530px;
	border-radius: 5px;
}
.shi1{
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	left: 50px;
	top: 35px;
}
.shi1 span{
	display: inline-block;
	width: 100px;
	height: 18px;
	border-bottom:1px solid black;
}
.shi2{
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	left: 50px;
	top: 61px;
}
.shi2 span{
	display: inline-block;
	width: 100px;
	height: 18px;
	border-bottom:1px solid black;
}
.shi3{
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	left: 50px;
	top: 87px;
}
.shi3 span{
	display: inline-block;
	width: 100px;
	height: 18px;
	border-bottom:1px solid black;
}
.danxuan2{
	width: 530px;
	height: 120px;
	position: absolute;
	left: 50px;
	top: 125px;
	font-size: 13px;
	color: #666666;
}
.danxuan2 input{
	display: inline-block;
	margin: 10px 10px 10px 0;
}
.one5{
	width: 1058px;
	height: 90px;
	border:1px solid #B8B8B8;
	position: absolute;
	left: 20px;
	top: 825px;
	border-radius: 5px;
}
.one6{
	width: 1058px;
	height: 275px;
	border:1px solid #B8B8B8;
	position: absolute;
	left: 20px;
	top: 935px;
	border-radius: 5px;
}
.one7{
	width: 1058px;
	height: 275px;
	border:1px solid #B8B8B8;
	position: absolute;
	left: 20px;
	top: 1230px;
	border-radius: 5px;
}
.anniu{
	display: inline-block;
	width: 100px;
	height: 30px;
	border: 1px solid #CB8C66;
	background-color: #FDD338;
	color: #A05000;
	font-size: 17px;
	text-align: center;
	font-weight: bold;
	position: absolute;
	left: 499px;
	top: 1650px;
	text-decoration: none;
	line-height: 30px;
	border-radius: 10px;
}
.one8{
	width: 1058px;
	height: 90px;
	border:1px solid #B8B8B8;
	position: absolute;
	left: 20px;
	top: 1525px;
	border-radius: 5px;
}
.main2{
	width: 1100px;
	height: 30px;
	border-top: 10px solid #F4F4F4;
	margin: 0px auto 0;
	background-color: #FFFFFF;
}
.main2 p{
	font-size: 12px;
	color: #999999;
	text-align: center;
	line-height: 30px;
}
