/* 第一部分——设置头部 */
/* 设置头部的容器 */
.header-wrapper{
    line-height: 31px;
    background: url(../images/header-bg.jpg) ;
}
/* 设置下拉按钮 */
.down,.down2{
    width: 10px;
    height: 7px;
    background-image: url(../images/sprite.png);
    background-position:-4px -34px;
}
/* 设置下拉按钮的效果 */
.nav-ul>li a:hover .down{
    background-position:-4px -41px;
}
/* 设置二级菜单 */
.down2{
    background-position:-4px -48px;
}
.menu{
    position: absolute;
    top: 4px;
    left:-5px;
}
.menu-top{
    border: #bfbfbf solid 1px;
    border-bottom: none;
    width: 72px;
    height: 25px;
    background-color: white;
    z-index: 9999;
    position: relative;
}
.menu-ul{
    border: #bfbfbf solid 1px;
    width: 81px;
    height: 68px;
    position: absolute;
    top: 25px;
    left: -9px;
    z-index: 999;
}
/* 设置二级菜单的特效 */
#order:hover .menu{
    display: block;
}
/* 设置导航条的线 */
.line{
    width: 3px;
    height: 12px;
    background-image: url(../images/line.jpg);
}
/* 设置购物车 */
.cart{
    width: 17px;
    height: 16px;
    background-image: url(../images/sprite.png);
}
/* 设置购物车的效果 */
.nav-ul>li a:hover .cart{
    background-position:0 -16px;
}
/* 第二部分——设置主体 */
/* 设置主体的容器 */
.main-wrapper{
    padding-top: 1px;
    background: url(../images/maintop-bg.png) repeat-x;
    /* height: 500px; */
}
/* 设置头部顶部黑色导航条 */
.maintop-bar{
    background: url(../images/miantop-bar.png) no-repeat;
    height: 40px;
}
/* 设置logo部分 */
.logo{
    width: 208px;
    height: 48px;
    background: url(../images/sprite.png) no-repeat;
    background-position: -21px 0;
    cursor: pointer;
}
.logo-line{
    width: 2px;
    height: 32px;
}
.logo-title{
    width: 73px;
    line-height: 24px;
    border-left: #a9aeb1 1px solid;
    border-right: #a9aeb1 1px solid;
}
.logo-text{
    position: absolute;
    left: 0;
    bottom: -15px;
}
.logo-sec:hover .logo-text{
    display: block;
}
/* 设置搜索框 */
.search-box{
    padding: 1px;
    border-radius: 2px;
    border: #e0e1e2 solid 2px;
    margin-bottom: 4px;
    cursor: pointer;
}
.search{
    outline: none;
    border: none;
    line-height: 27px;
    width: 70px;
    letter-spacing: 7px;
    padding: 0;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    cursor: pointer;
}
.search:hover{
    background-color: #ccc;
    color: #f08e30;
    font-weight: bold;
}
.search-input{
    width: 228px;
    height: 27px;
    border: none;
    outline-color: #f08e30;
}
.search-down1{
    width: 13px;
    height: 13px;
    background-image: url(../images/sprite.png);
    background-position: 0 -57px;
    margin-left: 7px;
    margin-right: 3px;
}
.center1{
    display:flex; 
    align-items:center;
    justify-content: flex-end;
}
.search-ul{
    width: 77px;
    height: 27px;
    overflow: hidden;
    z-index: 9;
}
.search-ul li{
    width: 77px;
    line-height: 27px;
}
.search-ul li a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.search-ul li:hover:not(:first-child){
    background-color: #ddd;
}
.search-ul li:not(:first-child){
    border-left: #ddd 1px solid;
    border-right: #ddd 1px solid;
    width: 75px;
}
.search-ul li:last-child{
    border-bottom: #ddd 1px solid;
}
.search-ul :hover .search-down1{
    background-position: 0 -71px;
}
.search-ul:hover {
    background-color: orange;
}
.search-line{
    width: 2px;
    height: 19px;
}
.hot-search a:hover{
    font-size: 14px;
}
/* 设置主体的菜单 */
.main-menu-bar{
    border-bottom: #2280cf 3px solid;
}
.new{
    width: 22px;
    height: 9px;
    background: url(../images/sprite.png) 0 -87px;
    position: absolute;
    top: -5px;
    left: -5px;
}
/* 设置风云榜的图标 */
.fengyun-icon{
    width: 14px;
    height: 11px;
    background: url(../images/sprite.png) 0 -99px;
}
/* 设置风云榜的图标 */
.fengyun-icon{
    width: 14px;
    height: 11px;
    background: url(../images/sprite.png) 0 -99px;
}
/* 设置我看过的图标 */
.look-icon{
    width: 12px;
    height: 12px;
    background: url(../images/sprite.png) 0 -112px;
}
/* 设置我看过的下拉按钮 */
.look{
    cursor: pointer;
    border: transparent solid 1px;
    border-bottom: none;
}
.look:hover{
    border: #c6c6c6 solid 1px;
    border-bottom: none;
    background-color: #fff;
}
.look:hover .look-father{
    display: block;
}
.look:hover .look-down{
    background: url(../images/sprite.png) -9px -125px;
}
.look-down{
    width: 11px;
    height: 7px;
    background: url(../images/sprite.png) 0 -125px;
}
/* 设置我看过的二级菜单 */
.look-menu{
    width: 233px;
    position: absolute;
    border: #c6c6c6 solid 1px;
    left:-148px;
    top: 24px;
}
.bo{
    position: absolute;
    width: 86px;
    height: 1px;
    background-color: #fff;
    left:0px;
    top: 24px;
    z-index: 9;
}
.look-menu-ol1,.look-menu-ol2{
    list-style-type: decimal;
    list-style-position: inside;
}
.look-menu-b{
    width: 220px;
    margin: 0 auto;
    border-top: 1px #ebebeb dashed;
}
.li-close{
    width: 8px;
    height: 9px;
    background: url(../images/sprite2.png) -556px -1px;
}
/* 设置主体内容的左边 */
.main-content-left{
    width: 735px;
}
/* 设置选择 */
.select{
    border: 1px solid #a6c9f2;
}
.select>li{
    width: 715px;
    border-bottom: 1px dashed #ebebeb;
    margin:0 auto
}
.select li{
    cursor: pointer;
}
/* 设置视频列表 */
.videolist-title{
    width: 91px;
    background-image: url(../images/videolist-title.png);
    position: relative;
    top: 1px;
    left: 0;
    z-index: 1;
}
.clear{
    width: 17px;
    height: 17px;
    background: url(../images/sprite.png) 0 -135px;
    margin-right: 1px;
}
.condition{
    border: #e37407 1px solid;
    line-height: 20px;
    height: 20px;
    margin-top: 6px;
    justify-content: flex-end;
    background-color: #fff;
    cursor: pointer;
}
.conditions{
    max-width: 468px;
    height: 32px;
    background-color: #fff;
    overflow: hidden;
}
.clearall{
    cursor: pointer;
}
.clearall-icon{
    width: 16px;
    height: 15px;
    background: url(../images/sprite.png) 0 -153px;
}
/* 设置视频列表的主要内容 */
.videolist-sec{
    border: #e8e8e8 1px solid;
    top: -1px;
    padding-top: 6px;
    
}
.videolist-menu{
    width: 717px;
    line-height: 24px;
    border: solid #e5e5e5 1px;
    margin: 0 auto;
    background-image: linear-gradient(#fff,#efefef);
}
.up{
    width: 7px;
    height: 10px;
    background-image: url(../images/sprite.png);
    background-position:0 -167px;
}
.upfather:hover .up,.up1{
    background-position:0 -179px;
}
.upfather,.sq1father,.sq2father{
    cursor: pointer;
}
.menu-line{
    width: 1px;
    height: 19px;
}
.sq{
    width: 20px;
    height: 20px;
    background-image: url(../images/sprite.png);
}
.sq1{
    background-position: 0 -211px;
}
.sq2{
    background-position: -22px -190px;
}
.sq2father:hover .sq2{
    background-position: -22px -211px;
}
/* 设置页码 */
.lastpage,.page{
    width: 45px;
    border-left: 1px solid #e5e5e5;
    line-height: 24px;
    cursor: pointer;
}
.page{
    width: 24px;
}
.page-ul li:hover{
    color: black;
}
/* 设置列表左边主体部分的上部分的大图 */
.videolist-top .bigpic{
    padding: 2px;
    border: transparent 1px solid;
    border-radius: 2px;
}
.videolist-top li:hover .bigpic{
    border: #fad572 1px solid;
}
.videolist-top,.videolist-bottom{
    width: 720px;
    margin: 0 auto;
}
.videolist-bottom{
    display: none;
}
.videolist-top li{
    border-bottom: 1px dotted #c8c8c8;
}
/* 设置视频顺序 */
.right-text{
    width: 560px;
}
.videob-pic{
    padding: 2px;
    border: #d5d5d5 1px solid ;
    border-radius: 2px;
}
.videolist-bottom li{
    border-bottom: 1px dotted #c9c9c9;
}
.videolist-bottom li:hover .bgy{
    background-color: #fff8e2;
}
/* 设置下面的菜单 */
#menub{
    margin-top: 10px;
    margin-bottom: 5px;
}
/* 设置主体内容的右边 */
.main-content-right{
    width: 235px;
}
#img{
    border: solid 1px #f1f1f1;
}
.h70{
    height: 70px;
}
/* 设置右边的最新促销 */
.zx{
    border: #e2e2e2 1px solid;
}
.zxh2{
    margin: 1px;
    background-image: linear-gradient(#fff,#c4dfee);
    line-height: 27px;
}
.zxul{
    border-top: 1px solid #a9d9f3;

}
.zxul li{
    list-style-image: url(../images/list.png);
    list-style-position: inside;
    border-bottom: 1px dotted #c7c7c7;
    width: 220px;
    margin: 0 auto;
}
/* 第三部分——设置底部 */
/* 底部 */
.footer-wrapper{
    border-top: 1px solid #ccc;
}
/* 第四部分——设置悬浮按钮 */
/* 设置固定定位的悬浮按钮 */
.xuan{
    position: fixed;
    top: 205px;
    left:50%;
    margin-left:498px;
}
.xuan span{
    display: inline-block;
    width: 18px;
    height: 55px;
}
.kefu:hover span,.diaocha:hover span{
    background-color: #fff;
}
.kefu,.diaocha{
    width: 26px;
    height: 87px;
    background-color: #f9f9f9;
    border: #e3e3e3 solid 1px;
}
/* 吸附效果的类 */
.xf{
    position:fixed;
    top: 0;
    left: 50%;
    margin-left: -490px;
    z-index: 99999999;
    margin-top: 0;
}
/* 设置暂无播放历史 */
.newdiv{
    width: 90%;
    line-height: 100px;
    margin:20px auto;
    border: #ccc solid 1px;
    text-align: center;
    color: #888;
}