/*头部*/
body{
	background-color: #E9F0F8;
}
.tou{
	width: 100%;
	background-color: #F6F8FC
}
.head{
	background-color: #F6F8FC;
	/*border:1px solid red;*/
	margin: 0 auto;
	width: 802px;
}
/*中间雪碧图*/
.center{margin-top: 52px;
	margin-left: 140px;
}
.fa{
	background: url(../images/top-nav.gif)no-repeat;
	display: inline-block;
	width: 21px;
	height: 20px;
}
.fafangwu{
	background-position: -12px 0px;
	margin-left: 20px;
}
.fabenzi{
	background-position:-55px 0px;
	margin-left: 20px;
}
.fabi{
	background-position:-99px 0px; 
	margin-left: 20px;
}
.fageren{
	background-position: -141px 0px;
	margin-left: 20px;
}
/*个人设置*/
.gr{
	width: 242px;
	/*border: 1px solid black;*/
	background-color: #E9F0FA;
	margin-top: 55px;
}
.student{
	color: #5893CB;
	font-size: 14px;
	margin: 4px;
}
/*中间部分*/
.bgtu{
	/*width: 800px;
	height: 1022px;*/
	margin: 0 auto;
	padding:4px;
}
.whitet{
	background-color: white;
	width: 800px;
	margin: 0 auto;
}
.zy{
	margin-top: 2px;
	margin-left: 15px;
	padding: 15px;
}
.zy1{
	font-size: 24px;
	color: #000000;
}
.zy2{
	font-size:16px;
	color: #9A9A9A;
	margin-left: 10px;
}
.jx{
	width:780px;
	/*border:1px solid #D0D0D0;*/
	margin-left:10px;
}
.yuwen1{
	width: 760px;
	margin: 0 auto;
	border: 1px solid #EFEFEF;
	background-color: #6D9DCE;
	margin: 10px;
}
.yw{
	width: 39px;
	border: 1px solid #EFEFEF;
	background-color: white;
	margin-left: 10px;
}
.sc{
	margin-left: 15px;
	color:white;	
}
.sc1{
	color:white;
	font-size: 12px;
}
.biaoge{
	width: 760px;
	margin-left: 10px;
}
tr{
	border:1px solid #999999;

}
td{
	color: #999999;
	font-size: 12px;
}
.aa{
	width: 151px;
	text-align: center;
}
.aa1{
 	width: 181px;
 	text-align: center;
}
.aa11{
 	text-align: center;
}
.ke{
	font-size: 12px;
	color:#999999;
	margin-top:5px;
	margin-left: 10px;
}
.jian{
	font-size: 12px;
	color:#999999;
	margin-left: 10px;
}
.shi{
	font-size: 12px;
	margin-left: 10px;
	color:#FF9900;
}
/*选择题*/
.feng1{
	border:1px solid #E2E2E2;
	width: 760px;
	margin:0 auto;
}
.san{
	background: url(../images/icos.gif)no-repeat;
	display: inline-block;
	width: 39px;
	height: 37px;
	background-position: 0px -43px;
}
.sana{
	color: white;
	vertical-align: center;
	margin-left: 6px;
}
.feng11{
	margin-top: 10px;
	font-size: 12px;
	font-family: 微软雅黑;
	font-weight:700;
}
.feng11a{
	margin-left: 20px;
	margin-top: 8px;
	margin-bottom:8px;
}
.feng111{
	margin-left:15px;
	font-size: 12px;
	color: #666666
}
/*绿色边框*/
.lvse{
	width: 715px;
	height: 29px;
	background-color: #E8F5E8;
	margin-left: 30px;
	margin-bottom: 10px;
}
img{
	line-height: 29px;
	margin-left: 5px;
	margin-top:5px;
}
.lvse2{
	line-height: 29px;
	font-weight: 700;
	color:#01B523;
}
.lvse3{
	font-size: 12px;
	color:#666666;
	line-height: 29px;
	margin-right: 10px;
}

/*2*/
.feng2{
	border:1px solid #E2E2E2;
	width: 760px;
	margin:0 auto;
	margin-top: 15px;
}
.san{
	background: url(../images/icos.gif)no-repeat;
	display: inline-block;
	width: 39px;
	height: 37px;
	background-position: 0px -43px;
}
.sana{
	color: white;
	vertical-align: center;
	margin-left: 6px;
}
.feng22{
	margin-top: 10px;
	font-size: 12px;
	font-family: 微软雅黑;
	font-weight:700;
}
.feng22a{
	margin-left: 20px;
	margin-top: 8px;
	margin-bottom:8px;
}
.feng222{
	margin-left:15px;
	font-size: 12px;
	color: #666666
}
/*3*/
.feng3{
	border:1px solid #E2E2E2;
	width: 760px;
	margin:0 auto;
	margin-top: 15px;
}
.san{
	background: url(../images/icos.gif)no-repeat;
	display: inline-block;
	width: 39px;
	height: 37px;
	background-position: 0px -43px;
}
.sana{
	color: white;
	vertical-align: center;
	margin-left: 6px;
}
.feng33{
	margin-top: 10px;
	font-size: 12px;
	font-family: 微软雅黑;
	font-weight:700;
}
.feng33a{
	margin-left: 20px;
	margin-top: 8px;
	margin-bottom:8px;
}
.feng333{
	margin-left:15px;
	font-size: 12px;
	color: #666666
}
/*4*/
.feng4{
	border:1px solid #E2E2E2;
	width: 760px;
	margin:0 auto;
	margin-top: 15px;
}
.san{
	background: url(../images/icos.gif)no-repeat;
	display: inline-block;
	width: 39px;
	height: 37px;
	background-position: 0px -43px;
}
.sana{
	color: white;
	vertical-align: center;
	margin-left: 6px;
}
.feng44{
	margin-top: 10px;
	font-size: 12px;
	font-family: 微软雅黑;
	font-weight:700;
	margin-left: 40px;
}
.feng44a{
	margin-left: 20px;
	margin-top: 8px;
	margin-bottom:8px;
}
.feng444{
	margin-left:15px;
	font-size: 12px;
	color: #666666
}
/*5*/
.feng5{
	border:1px solid #E2E2E2;
	width: 760px;
	margin:0 auto;
	margin-top: 15px;
}
.san{
	background: url(../images/icos.gif)no-repeat;
	display: inline-block;
	width: 39px;
	height: 37px;
	background-position: 0px -43px;
}
.sana{
	color: white;
	vertical-align: center;
	margin-left: 6px;
}
.feng55{
	margin-top: 10px;
	font-size: 12px;
	font-family: 微软雅黑;
	font-weight:700;
}
.feng55a{
	margin-left: 20px;
	margin-top: 8px;
	margin-bottom:8px;
}
.feng555{
	margin-left:15px;
	font-size: 12px;
	color: #666666
}
/*6*/
.feng6{
	border:1px solid #E2E2E2;
	width: 760px;
	margin:0 auto;
	margin-top: 15px;
}
.san{
	background: url(../images/icos.gif)no-repeat;
	display: inline-block;
	width: 39px;
	height: 37px;
	background-position: 0px -43px;
}
.sana{
	color: white;
	vertical-align: center;
	margin-left: 6px;
}
.feng66{
	margin-top: 10px;
	font-size: 12px;
	font-family: 微软雅黑;
	font-weight:700;
	margin-left: 40px;
}
.feng66a{
	margin-left: 20px;
	margin-top: 8px;
	margin-bottom:8px;
}
.feng666{
	margin-left:15px;
	font-size: 12px;
	color: #666666
}
/*7*/
.feng7{
	border:2px solid #FFC2C2;
	width: 760px;
	margin:0 auto;
	margin-top: 15px;
}
.san1{
	background: url(../images/icos.gif)no-repeat;
	display: inline-block;
	width: 39px;
	height: 37px;
	background-position: -90px -0px;
}
.sana{
	color: white;
	vertical-align: center;
	margin-left: 6px;
}
.feng77{
	margin-top: 10px;
	font-size: 12px;
	font-family: 微软雅黑;
	font-weight:700;
	margin-left: 40px;
}
.feng77a{
	margin-left: 20px;
	margin-top: 8px;
	margin-bottom:8px;
}
.feng777{
	margin-left:15px;
	font-size: 12px;
	color: #666666
}
.jiexi{
	width: 715px;
	height: 104px;
	background-color: #FFF7E5;
	margin-left: 30px;
	margin-bottom: 15px;
}
img{
	line-height: 29px;
	margin-left: 5px;
	margin-top:5px;
}
.jiexi1{
	color: #FF0000;
	font-weight: 700;
}
.jiexi2{
	color: #FF0000;
	margin-left: 5px;
}
.jiexi3{
	color: #666666;
	margin-right: 10px;
}
.jiexi4{
	color: #666666;
	font-size:12px;
	margin-left: 26px;
}
.tijiao{
	margin-left: 350px;
}
.tijiao img{
		margin-top:20px;
		margin-bottom: 40px;
}
/*底部*/
.dibua{
	border-top:2px double #E2E2E2;
	width: 800px;
}
.dibu{
	background-color: #FBFBFB;
	width: 800px;
	text-align:center;
	margin-top:2px;
}
.banquan{
	color: #9A9A9A;
}
